<section class="exercise-container">
    <div class="image-container">
        <img src="{{url}}" alt="{{exerciseName}}">
    </div>
    <div class="caption-container">
        {{#if MyPlanPage}}
            <button class="MyPlanButton" type="button"> Remove {{exerciseName}} from My Plan</button>
        {{else}}
            <button class="MyPlanButton" type="button"> Add {{exerciseName}} to My Plan</button>
        {{/if}}
        <h3 class="exerciseName">{{exerciseName}}</h3>
    </div>
</section>